.body-portfolio #navigation .navbar {
	box-shadow:none;
	-webkit-transition:box-shadow .2s ease;
	transition:box-shadow .2s ease;
}
.ie .body-portfolio #navigation .navbar { border-bottom:0px; }
.body-portfolio #navigation.affix .navbar { box-shadow:0px 2px 5px rgba(0,0,0,.05); }
.ie .body-portfolio #navigation.affix .navbar { border-bottom:1px solid #e9e9e9; }

#header .header-content-portfolio { padding-top:150px; }
	#header .header-content-portfolio > .container { position:relative; }
	#header .header-content-portfolio .header-content-txt { padding-right:370px; }
	#header .header-content-portfolio h1 {
		font-size:38px;
		line-height:46px;
		font-weight:700;
		text-transform:uppercase;
		letter-spacing:2px;
		margin:0px;
	}
	#header .header-content-portfolio p {
		font-size:20px;
		line-height:32px;
		margin:15px 0px 0px;
	}
	#header .header-content-portfolio .header-content-socials {
		position:absolute;
		right:15px;
		bottom:0px;
		width:220px;
		text-align:right;
		padding:0px;
		margin:0px;
	}
		#header .header-content-portfolio .header-content-socials li {
			display:inline;
			list-style-type:none;
			margin-left:30px;
		}
		#header .header-content-portfolio .header-content-socials li:first-child { margin-left:0px; }
			#header .header-content-portfolio .header-content-socials li a {
				color:#a9a9a9;
				font-size:28px;
				line-height:40px;
			}
			#header .header-content-portfolio .header-content-socials li a:hover { color:#00d27f; }
	#header .header-content-portfolio .header-content-menu {
		display:none;
		overflow:hidden;
		position:relative;
		text-align:center;
		min-height:40px;
		margin-bottom:60px;
	}
		#header .header-content-portfolio .header-content-menu > button {
			position:absolute;
			top:0px;
			left:0px;
			font-size:38px;
			line-height:40px;
			color:#303030 !important;
			background-color:transparent;
			padding:0px;
			border:0px;
		}
		#header .header-content-portfolio .header-content-menu > button:hover { color:#00d27f !important; }
			#header .header-content-portfolio .header-content-menu > button .ion { margin:0px; }
		#header .header-content-portfolio .header-content-menu .menu-logo { display:inline-block; }
			#header .header-content-portfolio .header-content-menu .menu-logo img { height:40px; }
			#header .header-content-portfolio .header-content-menu .menu-logo a:hover { opacity:1; }
			
.isotope-menu { text-align:left; }
	.isotope-menu a:first-child { margin-left:0px; }
	.isotope-menu a:last-child { margin-right:0px; }
	
.isotope-row-masonry .img-hover4 { margin-bottom:30px; }

#bottom-portfolio {
	font-size:15px;
	line-height:24px;
}
	#bottom-portfolio a { color:#777; }
	#bottom-portfolio a:hover { color:#00d27f; }
	#bottom-portfolio ul {
		padding:0px;
		margin:0px 0px 15px;
	}
	#bottom-portfolio .list-icon { margin:0px; }
		#bottom-portfolio ul li {
			list-style-type:none;
			position:relative;
			padding:0px 0px 10px 20px;
			margin-bottom:10px;
			border-bottom:1px dotted #e0e0e0;
		}
		#bottom-portfolio .list-icon ul li {
			min-height:24px;
			padding:0px 0px 0px 36px;
			margin-bottom:12px;
			border:0px;
		}
		#bottom-portfolio ul li:last-child {
			padding-bottom:0px;
			margin-bottom:0px;
			border-bottom:0px;
		}
		#bottom-portfolio ul li:before {
			position:absolute;
			top:5px;
			left:0px;
			font-family:Ionicons;
			line-height:1;
			content:'\f3d3';
		}
		#bottom-portfolio .list-icon ul li:before { display:none; }
			#bottom-portfolio .list-icon ul li .ion { color:#d0d0d0; }
			
#bottom-portfolio .widget { margin-bottom:60px; }
	#bottom-portfolio .widget .widget-title {
		font-size:16px;
		line-height:22px;
		font-weight:700;
		text-transform:uppercase;
		letter-spacing:.5px;
		margin-bottom:30px;
	}
	
#bottom-portfolio .widget-socials a, #bottom-portfolio .widget-socials2 a { color:#a9a9a9; }
#bottom-portfolio .widget-socials a:hover { color:#00d27f; }
#bottom-portfolio .widget-socials2 a:hover { color:#FFF; }

@media (max-width: 1199px) {
	
	#header .header-content-portfolio .header-content-txt { padding-right:250px; }
	
}

@media (max-width: 991px) {
	
	#header .header-content-portfolio .header-content-txt { padding-right:0px; }
	#header .header-content-portfolio .header-content-socials {
		position:static;
		right:auto;
		bottom:auto;
		width:auto;
		text-align:left;
		margin-top:20px;
	}
	
}

@media (max-width: 767px) {
	
	#header .header-content-portfolio { padding-top:20px; }
	#header .header-content-portfolio .header-content-menu { display:block; }
	#header .header-content-portfolio h1 {
		font-size:30px;
		line-height:38px;
		letter-spacing:1.5px;
	}
	#header .header-content-portfolio p {
		font-size:18px;
		line-height:30px;
		margin-top:12px;
	}
	
	.isotope-menu {
		padding:0px;
		margin-bottom:30px;
	}
	
}

@media (max-width: 400px) {
	
	#header .header-content-portfolio .header-content-menu {
		text-align:left;
		min-height:0px;
	}
	#header .header-content-portfolio .header-content-menu > button {
		float:left;
		position:static;
		top:auto;
		left:auto;
	}
	#header .header-content-portfolio .header-content-menu .menu-logo {
		float:left;
		margin-left:25px;
	}
	
}